{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://public.escape.tech"
    }
  ],
  "tags": [
    {
      "name": "Services",
      "description": "Operations related to Services - applicative assets that can be either Single Page Applications (SPAs) or APIs. For detailed information about Services, visit [our documentation](https://docs.escape.tech/documentation#service)."
    },
    {
      "name": "Schemas",
      "description": "Endpoints for managing API Schemas (OpenAPI, GraphQL, etc.) that define the structure of your Services. Learn more in [our documentation](https://docs.escape.tech/documentation#schema)."
    },
    {
      "name": "Applications",
      "description": "Manage your DAST scanning configurations, including authentication details and environment settings. See [our documentation](https://docs.escape.tech/documentation#application) for more details."
    },
    {
      "name": "Locations",
      "description": "Control your scanning environments, including both public and private locations. For more information about Locations, visit [our documentation](https://docs.escape.tech/documentation/enterprise/private-location/?h=private#overview)."
    },
    {
      "name": "Scans",
      "description": "Endpoints for triggering scans on your applications and retrieving details."
    },
    {
      "name": "Integrations",
      "description": "Manage integrations with third-party services and tools to enhance your security workflow. For more information about Integrations, visit [our documentation](https://docs.escape.tech/documentation/inventory/integrations/)."
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Escape Public API",
    "description": "This API enables you to operate [Escape](https://escape.tech/) programmatically.\n\nAll requests must be authenticated with a valid API key, provided in the `Authorization` header.\nFor example: `Authorization: Key YOUR_API_KEY`.\n\nYou can find your API key in the [Escape dashboard](http://app.escape.tech/user/)."
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key to authenticate requests: `Authorization: Key YOUR_API_KEY`"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/v1/organization/{id}/services": {
      "get": {
        "summary": "List all services",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": "00000000-0000-0000-0000-000000000000",
              "description": "The ID of the organization."
            },
            "required": false,
            "description": "The ID of the organization.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "List of service objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "cloudProvider": {
                        "type": "string"
                      },
                      "wafProvider": {
                        "type": "string"
                      },
                      "authTechnology": {
                        "type": "string",
                        "nullable": true
                      },
                      "type": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "lastSeenAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string"
                            },
                            "color": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "color"
                          ]
                        }
                      },
                      "domainId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "applicationsCount": {
                        "type": "number"
                      },
                      "softwareType": {
                        "type": "string",
                        "nullable": true
                      },
                      "framework": {
                        "type": "string",
                        "nullable": true
                      },
                      "ipAddresses": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "countryCodes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "cloudProvider",
                      "wafProvider",
                      "authTechnology",
                      "type",
                      "createdAt",
                      "lastSeenAt",
                      "tags",
                      "domainId",
                      "applicationsCount",
                      "softwareType",
                      "framework",
                      "ipAddresses",
                      "countryCodes"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/{id}/schemas/{schemaId}": {
      "get": {
        "summary": "Get the details of a schema",
        "tags": [
          "Schemas"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": "00000000-0000-0000-0000-000000000000",
              "description": "Your organization ID."
            },
            "required": false,
            "description": "Your organization ID.",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": "00000000-0000-0000-0000-000000000000",
              "description": "The schema ID you want to retrieve."
            },
            "required": false,
            "description": "The schema ID you want to retrieve.",
            "name": "schemaId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Schema content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "url": {
                      "type": "string",
                      "nullable": true,
                      "format": "uri"
                    },
                    "name": {
                      "type": "string"
                    },
                    "blobUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "temporaryDownloadUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "kind": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "lastSeenAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "color"
                        ]
                      }
                    },
                    "usedInServices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        },
                        "required": [
                          "id"
                        ]
                      }
                    },
                    "consumer": {
                      "type": "string",
                      "nullable": true
                    },
                    "generatedFromCodeProject": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    "generatedFromFrontend": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    "generatedFromService": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "operation": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parameters": {
                            "type": "string"
                          },
                          "returnType": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "operation",
                          "name",
                          "parameters",
                          "returnType"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "name",
                    "blobUrl",
                    "description",
                    "temporaryDownloadUrl",
                    "kind",
                    "createdAt",
                    "lastSeenAt",
                    "tags",
                    "usedInServices",
                    "consumer",
                    "generatedFromCodeProject",
                    "generatedFromFrontend",
                    "generatedFromService",
                    "endpoints"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/{id}/schemas": {
      "get": {
        "summary": "List all schemas",
        "tags": [
          "Schemas"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": "00000000-0000-0000-0000-000000000000",
              "description": "Your organization ID."
            },
            "required": false,
            "description": "Your organization ID.",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor to start from. Given by the previous page."
            },
            "required": false,
            "description": "Cursor to start from. Given by the previous page.",
            "name": "after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of schemas objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "hasNextPage": {
                          "type": "boolean"
                        },
                        "hasPreviousPage": {
                          "type": "boolean"
                        },
                        "startCursor": {
                          "type": "string",
                          "nullable": true
                        },
                        "endCursor": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "hasNextPage",
                        "hasPreviousPage",
                        "startCursor",
                        "endCursor"
                      ]
                    },
                    "totalCount": {
                      "type": "number"
                    },
                    "edges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "node": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "url": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri"
                              },
                              "name": {
                                "type": "string"
                              },
                              "blobUrl": {
                                "type": "string",
                                "nullable": true
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "kind": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "lastSeenAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "color": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "color"
                                  ]
                                }
                              },
                              "domainId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "useInServiceId": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid"
                                    }
                                  },
                                  "required": [
                                    "id"
                                  ]
                                }
                              },
                              "consumer": {
                                "type": "string",
                                "nullable": true
                              },
                              "generatedFromCodeProjectId": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "generatedFromFrontendId": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "generatedFromServiceId": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "endpoints": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "operation": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "parameters": {
                                    "type": "string"
                                  },
                                  "returnType": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "operation",
                                  "name",
                                  "parameters",
                                  "returnType"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "url",
                              "name",
                              "blobUrl",
                              "description",
                              "kind",
                              "createdAt",
                              "lastSeenAt",
                              "tags",
                              "domainId",
                              "useInServiceId",
                              "consumer",
                              "generatedFromCodeProjectId",
                              "generatedFromFrontendId",
                              "generatedFromServiceId",
                              "endpoints"
                            ]
                          }
                        },
                        "required": [
                          "node"
                        ]
                      }
                    }
                  },
                  "required": [
                    "pageInfo",
                    "totalCount",
                    "edges"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/upload-schema": {
      "post": {
        "summary": "Upload a schema for an application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": "00000000-0000-0000-0000-000000000000",
              "description": "The application ID you want to upload a schema for."
            },
            "required": false,
            "description": "The application ID you want to upload a schema for.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "schemaUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schema object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application/{id}": {
      "get": {
        "summary": "Get the details of an application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": "00000000-0000-0000-0000-000000000000",
              "description": "The application ID you want to retrieve."
            },
            "required": false,
            "description": "The application ID you want to retrieve.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Application details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "service": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "color"
                            ]
                          }
                        }
                      },
                      "required": [
                        "url",
                        "tags"
                      ]
                    },
                    "autogeneratedFromInventory": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "hasCI": {
                      "type": "boolean"
                    },
                    "cron": {
                      "type": "string",
                      "nullable": true
                    },
                    "scans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "CANCELED",
                              "CREATED",
                              "FAILED",
                              "RUNNING",
                              "SUCCESS"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "alertCounts": {
                            "type": "object",
                            "properties": {
                              "HIGH": {
                                "type": "number"
                              },
                              "MEDIUM": {
                                "type": "number"
                              },
                              "LOW": {
                                "type": "number"
                              },
                              "INFO": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "HIGH",
                              "MEDIUM",
                              "LOW",
                              "INFO"
                            ]
                          },
                          "commitHash": {
                            "type": "string",
                            "nullable": true
                          },
                          "score": {
                            "type": "number",
                            "nullable": true,
                            "minimum": 0,
                            "maximum": 1
                          },
                          "coverage": {
                            "type": "number",
                            "nullable": true,
                            "minimum": 0,
                            "maximum": 1
                          },
                          "securityTestCategories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "type": "string"
                                },
                                "count": {
                                  "type": "number"
                                },
                                "severity": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "category",
                                "count",
                                "severity"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "status",
                          "createdAt",
                          "alertCounts",
                          "commitHash",
                          "score",
                          "coverage",
                          "securityTestCategories"
                        ]
                      }
                    },
                    "lastSuccessfulScan": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "alertCounts": {
                          "type": "object",
                          "properties": {
                            "HIGH": {
                              "type": "number"
                            },
                            "MEDIUM": {
                              "type": "number"
                            },
                            "LOW": {
                              "type": "number"
                            },
                            "INFO": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "HIGH",
                            "MEDIUM",
                            "LOW",
                            "INFO"
                          ]
                        },
                        "score": {
                          "type": "number",
                          "nullable": true,
                          "minimum": 0,
                          "maximum": 1
                        },
                        "commitHash": {
                          "type": "string",
                          "nullable": true
                        },
                        "coverage": {
                          "type": "number",
                          "nullable": true,
                          "minimum": 0,
                          "maximum": 1
                        },
                        "securityTestCategories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "category": {
                                "type": "string"
                              },
                              "count": {
                                "type": "number"
                              },
                              "severity": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "category",
                              "count",
                              "severity"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "createdAt",
                        "alertCounts",
                        "score",
                        "commitHash",
                        "coverage",
                        "securityTestCategories"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "service",
                    "autogeneratedFromInventory",
                    "createdAt",
                    "hasCI",
                    "cron",
                    "scans",
                    "lastSuccessfulScan"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/organization/{id}/applications": {
      "get": {
        "summary": "List all applications",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": "00000000-0000-0000-0000-000000000000",
              "description": "Your organization ID."
            },
            "required": false,
            "description": "Your organization ID.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "List of application objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "name": {
                        "type": "string"
                      },
                      "service": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "color": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "color"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url",
                          "tags"
                        ]
                      },
                      "autogeneratedFromInventory": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "hasCI": {
                        "type": "boolean"
                      },
                      "cron": {
                        "type": "string",
                        "nullable": true
                      },
                      "scans": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "CANCELED",
                                "CREATED",
                                "FAILED",
                                "RUNNING",
                                "SUCCESS"
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "alertCounts": {
                              "type": "object",
                              "properties": {
                                "HIGH": {
                                  "type": "number"
                                },
                                "MEDIUM": {
                                  "type": "number"
                                },
                                "LOW": {
                                  "type": "number"
                                },
                                "INFO": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "HIGH",
                                "MEDIUM",
                                "LOW",
                                "INFO"
                              ]
                            },
                            "commitHash": {
                              "type": "string",
                              "nullable": true
                            },
                            "score": {
                              "type": "number",
                              "nullable": true,
                              "minimum": 0,
                              "maximum": 1
                            },
                            "coverage": {
                              "type": "number",
                              "nullable": true,
                              "minimum": 0,
                              "maximum": 1
                            },
                            "securityTestCategories": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "string"
                                  },
                                  "count": {
                                    "type": "number"
                                  },
                                  "severity": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "category",
                                  "count",
                                  "severity"
                                ]
                              }
                            }
                          },
                          "required": [
                            "id",
                            "status",
                            "createdAt",
                            "alertCounts",
                            "commitHash",
                            "score",
                            "coverage",
                            "securityTestCategories"
                          ]
                        }
                      },
                      "lastSuccessfulScan": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "alertCounts": {
                            "type": "object",
                            "properties": {
                              "HIGH": {
                                "type": "number"
                              },
                              "MEDIUM": {
                                "type": "number"
                              },
                              "LOW": {
                                "type": "number"
                              },
                              "INFO": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "HIGH",
                              "MEDIUM",
                              "LOW",
                              "INFO"
                            ]
                          },
                          "score": {
                            "type": "number",
                            "nullable": true,
                            "minimum": 0,
                            "maximum": 1
                          },
                          "commitHash": {
                            "type": "string",
                            "nullable": true
                          },
                          "coverage": {
                            "type": "number",
                            "nullable": true,
                            "minimum": 0,
                            "maximum": 1
                          },
                          "securityTestCategories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "type": "string"
                                },
                                "count": {
                                  "type": "number"
                                },
                                "severity": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "category",
                                "count",
                                "severity"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "alertCounts",
                          "score",
                          "commitHash",
                          "coverage",
                          "securityTestCategories"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "service",
                      "autogeneratedFromInventory",
                      "createdAt",
                      "hasCI",
                      "cron",
                      "scans",
                      "lastSuccessfulScan"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organization/{id}/applications/search": {
      "get": {
        "summary": "Search for applications within an organization",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": "00000000-0000-0000-0000-000000000000",
              "description": "Your organization ID."
            },
            "required": false,
            "description": "Your organization ID.",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Search query."
            },
            "required": false,
            "description": "Search query.",
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor to start from. Given by the previous page."
            },
            "required": false,
            "description": "Cursor to start from. Given by the previous page.",
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of applications matching the search query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "service": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "color": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "color"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "url",
                              "tags"
                            ]
                          },
                          "autogeneratedFromInventory": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hasCI": {
                            "type": "boolean"
                          },
                          "cron": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "service",
                          "autogeneratedFromInventory",
                          "createdAt",
                          "hasCI",
                          "cron"
                        ]
                      }
                    }
                  },
                  "required": [
                    "cursor",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/create-application": {
      "post": {
        "summary": "Create a new application",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "serverUrl": {
                    "type": "string",
                    "maxLength": 1024,
                    "format": "uri"
                  },
                  "readWrite": {
                    "type": "boolean"
                  },
                  "cron": {
                    "type": "string",
                    "nullable": true,
                    "default": "0 0 * * *",
                    "description": "The cron expression for the application. If not provided, the application will not be scheduled."
                  },
                  "disableScheduling": {
                    "type": "boolean",
                    "description": "[DEPRECATED] Use the cron argument instead. This argument remains for compatibility with legacy usages of the API."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "FRONTEND",
                      "GRAPHQL",
                      "REST"
                    ]
                  },
                  "authentication": {
                    "nullable": true
                  },
                  "organizationId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "locationId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "schema": {
                    "type": "string"
                  },
                  "schemaUrl": {
                    "type": "string",
                    "maxLength": 1024,
                    "format": "uri"
                  },
                  "fullConfiguration": {
                    "nullable": true
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 255
                    }
                  }
                },
                "required": [
                  "name",
                  "serverUrl",
                  "readWrite",
                  "type",
                  "organizationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 255
                    },
                    "lastScan": {
                      "type": "object",
                      "properties": {
                        "scanId": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "scanId"
                      ]
                    },
                    "href": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "lastScan",
                    "href"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/start-scan": {
      "post": {
        "summary": "Trigger a scan on an application",
        "tags": [
          "Applications",
          "Scans"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": "00000000-0000-0000-0000-000000000000",
              "description": "Application ID you want to start a scan on.\nFind this on the `CI/CD` settings page of your application."
            },
            "required": false,
            "description": "Application ID you want to start a scan on.\nFind this on the `CI/CD` settings page of your application.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "commitHash": {
                    "type": "string"
                  },
                  "commitLink": {
                    "type": "string"
                  },
                  "commitBranch": {
                    "type": "string"
                  },
                  "commitAuthor": {
                    "type": "string"
                  },
                  "commitAuthorProfilePictureLink": {
                    "type": "string"
                  },
                  "configurationOverride": {
                    "type": "object",
                    "properties": {
                      "authentication": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "procedures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "operations": {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "tech": {
                                            "type": "string",
                                            "enum": [
                                              "http"
                                            ]
                                          },
                                          "parameters": {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string"
                                              },
                                              "method": {
                                                "type": "string",
                                                "enum": [
                                                  "CONNECT",
                                                  "DELETE",
                                                  "GET",
                                                  "HEAD",
                                                  "OPTIONS",
                                                  "PATCH",
                                                  "POST",
                                                  "PUT",
                                                  "TRACE"
                                                ]
                                              },
                                              "headers": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "values": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  },
                                                  "required": [
                                                    "name",
                                                    "values"
                                                  ]
                                                }
                                              },
                                              "cookies": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "domain": {
                                                      "type": "string"
                                                    },
                                                    "path": {
                                                      "type": "string"
                                                    },
                                                    "http_only": {
                                                      "type": "boolean"
                                                    },
                                                    "secure": {
                                                      "type": "boolean"
                                                    },
                                                    "same_site": {
                                                      "type": "string",
                                                      "enum": [
                                                        "Strict",
                                                        "Lax",
                                                        "None"
                                                      ]
                                                    },
                                                    "values": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  },
                                                  "required": [
                                                    "name",
                                                    "values"
                                                  ]
                                                }
                                              },
                                              "queryParameters": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "values": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  },
                                                  "required": [
                                                    "name",
                                                    "values"
                                                  ]
                                                }
                                              },
                                              "body": {
                                                "nullable": true
                                              },
                                              "proxy": {
                                                "type": "string"
                                              },
                                              "timeout": {
                                                "type": "number"
                                              },
                                              "insecure": {
                                                "type": "boolean"
                                              },
                                              "follow_redirects": {
                                                "type": "number"
                                              }
                                            },
                                            "required": [
                                              "url",
                                              "method",
                                              "headers",
                                              "cookies",
                                              "queryParameters"
                                            ]
                                          },
                                          "extractions": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "location": {
                                                  "type": "string",
                                                  "enum": [
                                                    "header",
                                                    "cookie",
                                                    "body",
                                                    "query"
                                                  ]
                                                },
                                                "key": {
                                                  "type": "string"
                                                },
                                                "regex": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "location",
                                                "key",
                                                "name"
                                              ]
                                            }
                                          }
                                        },
                                        "required": [
                                          "tech",
                                          "parameters",
                                          "extractions"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "tech": {
                                            "type": "string",
                                            "enum": [
                                              "digest"
                                            ]
                                          },
                                          "parameters": {
                                            "type": "object",
                                            "properties": {
                                              "first_request": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "method": {
                                                    "type": "string",
                                                    "enum": [
                                                      "CONNECT",
                                                      "DELETE",
                                                      "GET",
                                                      "HEAD",
                                                      "OPTIONS",
                                                      "PATCH",
                                                      "POST",
                                                      "PUT",
                                                      "TRACE"
                                                    ]
                                                  },
                                                  "headers": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "name": {
                                                          "type": "string"
                                                        },
                                                        "values": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      "required": [
                                                        "name",
                                                        "values"
                                                      ]
                                                    }
                                                  },
                                                  "cookies": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "name": {
                                                          "type": "string"
                                                        },
                                                        "domain": {
                                                          "type": "string"
                                                        },
                                                        "path": {
                                                          "type": "string"
                                                        },
                                                        "http_only": {
                                                          "type": "boolean"
                                                        },
                                                        "secure": {
                                                          "type": "boolean"
                                                        },
                                                        "same_site": {
                                                          "type": "string",
                                                          "enum": [
                                                            "Strict",
                                                            "Lax",
                                                            "None"
                                                          ]
                                                        },
                                                        "values": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      "required": [
                                                        "name",
                                                        "values"
                                                      ]
                                                    }
                                                  },
                                                  "queryParameters": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "name": {
                                                          "type": "string"
                                                        },
                                                        "values": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      "required": [
                                                        "name",
                                                        "values"
                                                      ]
                                                    }
                                                  },
                                                  "body": {
                                                    "nullable": true
                                                  },
                                                  "proxy": {
                                                    "type": "string"
                                                  },
                                                  "timeout": {
                                                    "type": "number"
                                                  },
                                                  "insecure": {
                                                    "type": "boolean"
                                                  },
                                                  "follow_redirects": {
                                                    "type": "number"
                                                  }
                                                },
                                                "required": [
                                                  "url",
                                                  "method",
                                                  "headers",
                                                  "cookies",
                                                  "queryParameters"
                                                ]
                                              },
                                              "second_request": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "method": {
                                                    "type": "string",
                                                    "enum": [
                                                      "CONNECT",
                                                      "DELETE",
                                                      "GET",
                                                      "HEAD",
                                                      "OPTIONS",
                                                      "PATCH",
                                                      "POST",
                                                      "PUT",
                                                      "TRACE"
                                                    ]
                                                  }
                                                }
                                              }
                                            },
                                            "required": [
                                              "first_request"
                                            ]
                                          },
                                          "extractions": {
                                            "anyOf": [
                                              {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "location": {
                                                      "type": "string",
                                                      "enum": [
                                                        "header",
                                                        "cookie",
                                                        "body",
                                                        "query"
                                                      ]
                                                    },
                                                    "key": {
                                                      "type": "string"
                                                    },
                                                    "regex": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "location",
                                                    "key",
                                                    "name"
                                                  ]
                                                }
                                              },
                                              {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "location": {
                                                      "type": "string",
                                                      "enum": [
                                                        "page",
                                                        "browser_local_storage",
                                                        "browser_session_storage",
                                                        "browser_cookies"
                                                      ]
                                                    },
                                                    "origin": {
                                                      "type": "string"
                                                    },
                                                    "key": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "regex": {
                                                      "type": "string"
                                                    },
                                                    "jq": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "location",
                                                    "origin",
                                                    "key",
                                                    "name"
                                                  ]
                                                }
                                              }
                                            ]
                                          }
                                        },
                                        "required": [
                                          "tech",
                                          "parameters",
                                          "extractions"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "tech": {
                                            "type": "string",
                                            "enum": [
                                              "browser_agent"
                                            ]
                                          },
                                          "parameters": {
                                            "type": "object",
                                            "properties": {
                                              "login_url": {
                                                "type": "string"
                                              },
                                              "username": {
                                                "type": "string"
                                              },
                                              "password": {
                                                "type": "string"
                                              },
                                              "additional_fields": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "action": {
                                                      "type": "string",
                                                      "enum": [
                                                        "fill"
                                                      ]
                                                    },
                                                    "locator": {
                                                      "type": "string"
                                                    },
                                                    "value": {
                                                      "type": "string"
                                                    },
                                                    "auto_submit": {
                                                      "type": "boolean"
                                                    }
                                                  },
                                                  "required": [
                                                    "action",
                                                    "locator",
                                                    "value"
                                                  ]
                                                }
                                              },
                                              "proxy": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "login_url",
                                              "username",
                                              "password"
                                            ]
                                          },
                                          "extractions": {
                                            "anyOf": [
                                              {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "location": {
                                                      "type": "string",
                                                      "enum": [
                                                        "header",
                                                        "cookie",
                                                        "body",
                                                        "query"
                                                      ]
                                                    },
                                                    "key": {
                                                      "type": "string"
                                                    },
                                                    "regex": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "location",
                                                    "key",
                                                    "name"
                                                  ]
                                                }
                                              },
                                              {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "location": {
                                                      "type": "string",
                                                      "enum": [
                                                        "page",
                                                        "browser_local_storage",
                                                        "browser_session_storage",
                                                        "browser_cookies"
                                                      ]
                                                    },
                                                    "origin": {
                                                      "type": "string"
                                                    },
                                                    "key": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "regex": {
                                                      "type": "string"
                                                    },
                                                    "jq": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "location",
                                                    "origin",
                                                    "key",
                                                    "name"
                                                  ]
                                                }
                                              }
                                            ]
                                          }
                                        },
                                        "required": [
                                          "tech",
                                          "parameters",
                                          "extractions"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "tech": {
                                            "type": "string",
                                            "enum": [
                                              "browser_actions"
                                            ]
                                          },
                                          "parameters": {
                                            "type": "object",
                                            "properties": {
                                              "actions": {
                                                "type": "array",
                                                "items": {
                                                  "oneOf": [
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
                                                          "type": "string",
                                                          "enum": [
                                                            "click"
                                                          ]
                                                        },
                                                        "locator": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "required": [
                                                        "action",
                                                        "locator"
                                                      ]
                                                    },
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
                                                          "type": "string",
                                                          "enum": [
                                                            "fill"
                                                          ]
                                                        },
                                                        "locator": {
                                                          "type": "string"
                                                        },
                                                        "value": {
                                                          "type": "string"
                                                        },
                                                        "auto_submit": {
                                                          "type": "boolean"
                                                        }
                                                      },
                                                      "required": [
                                                        "action",
                                                        "locator",
                                                        "value"
                                                      ]
                                                    },
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
                                                          "type": "string",
                                                          "enum": [
                                                            "goto"
                                                          ]
                                                        },
                                                        "url": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "required": [
                                                        "action",
                                                        "url"
                                                      ]
                                                    },
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
[...]
