/*
Escape Public API

This API enables you to operate [Escape](https://escape.tech/) programmatically.  All requests must be authenticated with a valid API key, provided in the `X-ESCAPE-API-KEY` header. For example: `X-ESCAPE-API-KEY: YOUR_API_KEY`.  You can find your API key in the [Escape dashboard](https://app.escape.tech/user/).

API version: 3.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// EventsAPIService EventsAPI service
type EventsAPIService service

type ApiGetEventRequest struct {
	ctx        context.Context
	ApiService *EventsAPIService
	eventId    string
}

func (r ApiGetEventRequest) Execute() (*GetEvent200Response, *http.Response, error) {
	return r.ApiService.GetEventExecute(r)
}

/*
GetEvent Get an event

Get an event by ID (including attachments)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param eventId The event ID
	@return ApiGetEventRequest
*/
func (a *EventsAPIService) GetEvent(ctx context.Context, eventId string) ApiGetEventRequest {
	return ApiGetEventRequest{
		ApiService: a,
		ctx:        ctx,
		eventId:    eventId,
	}
}

// Execute executes the request
//
//	@return GetEvent200Response
func (a *EventsAPIService) GetEventExecute(r ApiGetEventRequest) (*GetEvent200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetEvent200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.GetEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/events/{eventId}"
	localVarPath = strings.Replace(localVarPath, "{"+"eventId"+"}", url.PathEscape(parameterValueToString(r.eventId, "eventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-ESCAPE-API-KEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v NotFound
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEventsRequest struct {
	ctx                 context.Context
	ApiService          *EventsAPIService
	cursor              *string
	size                *int
	sortType            *string
	sortDirection       *string
	search              *string
	after               *string
	before              *string
	scanIds             *string
	profileIds          *string
	assetIds            *string
	issueIds            *string
	eventIds            *ListEventsEventIdsParameter
	targetIds           *ListEventsTargetIdsParameter
	workflowIds         *ListEventsWorkflowIdsParameter
	groups              *ListEventsGroupsParameter
	levels              *[]string
	stages              *[]string
	severities          *[]string
	risks               *[]string
	scanProblemCodes    *[]string
	responseStatusCodes *ListEventsResponseStatusCodesParameter
	hasAttachments      *string
	attachments         *[]string
	public              *string
	dnf                 *string
}

// The cursor to start the pagination from. Returned by the previous page response. If not provided, the first page will be returned.
func (r ApiListEventsRequest) Cursor(cursor string) ApiListEventsRequest {
	r.cursor = &cursor
	return r
}

// The number of items to return per page
func (r ApiListEventsRequest) Size(size int) ApiListEventsRequest {
	r.size = &size
	return r
}

// The type to sort by
func (r ApiListEventsRequest) SortType(sortType string) ApiListEventsRequest {
	r.sortType = &sortType
	return r
}

// The direction to sort by
func (r ApiListEventsRequest) SortDirection(sortDirection string) ApiListEventsRequest {
	r.sortDirection = &sortDirection
	return r
}

// Search term to filter events by name or description
func (r ApiListEventsRequest) Search(search string) ApiListEventsRequest {
	r.search = &search
	return r
}

// Filter by after date
func (r ApiListEventsRequest) After(after string) ApiListEventsRequest {
	r.after = &after
	return r
}

// Filter by before date
func (r ApiListEventsRequest) Before(before string) ApiListEventsRequest {
	r.before = &before
	return r
}

// Filter by scan IDs
func (r ApiListEventsRequest) ScanIds(scanIds string) ApiListEventsRequest {
	r.scanIds = &scanIds
	return r
}

// Filter by profile IDs
func (r ApiListEventsRequest) ProfileIds(profileIds string) ApiListEventsRequest {
	r.profileIds = &profileIds
	return r
}

// Filter by asset IDs
func (r ApiListEventsRequest) AssetIds(assetIds string) ApiListEventsRequest {
	r.assetIds = &assetIds
	return r
}

// Filter by issue IDs
func (r ApiListEventsRequest) IssueIds(issueIds string) ApiListEventsRequest {
	r.issueIds = &issueIds
	return r
}

// Filter by event IDs
func (r ApiListEventsRequest) EventIds(eventIds ListEventsEventIdsParameter) ApiListEventsRequest {
	r.eventIds = &eventIds
	return r
}

// Filter by target IDs
func (r ApiListEventsRequest) TargetIds(targetIds ListEventsTargetIdsParameter) ApiListEventsRequest {
	r.targetIds = &targetIds
	return r
}

// Filter by workflow IDs
func (r ApiListEventsRequest) WorkflowIds(workflowIds ListEventsWorkflowIdsParameter) ApiListEventsRequest {
	r.workflowIds = &workflowIds
	return r
}

// Filter by groups
func (r ApiListEventsRequest) Groups(groups ListEventsGroupsParameter) ApiListEventsRequest {
	r.groups = &groups
	return r
}

// Filter by level
func (r ApiListEventsRequest) Levels(levels []string) ApiListEventsRequest {
	r.levels = &levels
	return r
}

// Filter by stage
func (r ApiListEventsRequest) Stages(stages []string) ApiListEventsRequest {
	r.stages = &stages
	return r
}

// Filter by severity
func (r ApiListEventsRequest) Severities(severities []string) ApiListEventsRequest {
	r.severities = &severities
	return r
}

// Filter by risk
func (r ApiListEventsRequest) Risks(risks []string) ApiListEventsRequest {
	r.risks = &risks
	return r
}

// Filter by scan problem codes
func (r ApiListEventsRequest) ScanProblemCodes(scanProblemCodes []string) ApiListEventsRequest {
	r.scanProblemCodes = &scanProblemCodes
	return r
}

// Filter by response status codes
func (r ApiListEventsRequest) ResponseStatusCodes(responseStatusCodes ListEventsResponseStatusCodesParameter) ApiListEventsRequest {
	r.responseStatusCodes = &responseStatusCodes
	return r
}

// Filter by attachments
func (r ApiListEventsRequest) HasAttachments(hasAttachments string) ApiListEventsRequest {
	r.hasAttachments = &hasAttachments
	return r
}

// Filter by attachments
func (r ApiListEventsRequest) Attachments(attachments []string) ApiListEventsRequest {
	r.attachments = &attachments
	return r
}

// Filter by public events
func (r ApiListEventsRequest) Public(public string) ApiListEventsRequest {
	r.public = &public
	return r
}

// Filter by DNF expression
func (r ApiListEventsRequest) Dnf(dnf string) ApiListEventsRequest {
	r.dnf = &dnf
	return r
}

func (r ApiListEventsRequest) Execute() (*ListEvents200Response, *http.Response, error) {
	return r.ApiService.ListEventsExecute(r)
}

/*
ListEvents List events

List and search events of the organization.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListEventsRequest
*/
func (a *EventsAPIService) ListEvents(ctx context.Context) ApiListEventsRequest {
	return ApiListEventsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListEvents200Response
func (a *EventsAPIService) ListEventsExecute(r ApiListEventsRequest) (*ListEvents200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListEvents200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.ListEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int = 50
		r.size = &defaultValue
	}
	if r.sortType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortType", r.sortType, "form", "")
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortDirection", r.sortDirection, "form", "")
	} else {
		var defaultValue string = "asc"
		r.sortDirection = &defaultValue
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.scanIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scanIds", r.scanIds, "form", "")
	}
	if r.profileIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileIds", r.profileIds, "form", "")
	}
	if r.assetIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetIds", r.assetIds, "form", "")
	}
	if r.issueIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "issueIds", r.issueIds, "form", "")
	}
	if r.eventIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventIds", r.eventIds, "form", "")
	}
	if r.targetIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetIds", r.targetIds, "form", "")
	}
	if r.workflowIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowIds", r.workflowIds, "form", "")
	}
	if r.groups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groups", r.groups, "form", "")
	}
	if r.levels != nil {
		t := *r.levels
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "levels", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "levels", t, "form", "multi")
		}
	}
	if r.stages != nil {
		t := *r.stages
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "stages", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "stages", t, "form", "multi")
		}
	}
	if r.severities != nil {
		t := *r.severities
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "severities", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "severities", t, "form", "multi")
		}
	}
	if r.risks != nil {
		t := *r.risks
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "risks", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "risks", t, "form", "multi")
		}
	}
	if r.scanProblemCodes != nil {
		t := *r.scanProblemCodes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "scanProblemCodes", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "scanProblemCodes", t, "form", "multi")
		}
	}
	if r.responseStatusCodes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "responseStatusCodes", r.responseStatusCodes, "form", "")
	}
	if r.hasAttachments != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hasAttachments", r.hasAttachments, "form", "")
	}
	if r.attachments != nil {
		t := *r.attachments
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "attachments", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "attachments", t, "form", "multi")
		}
	}
	if r.public != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "public", r.public, "form", "")
	}
	if r.dnf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dnf", r.dnf, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-ESCAPE-API-KEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PaginationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
